body{
    margin: 0;
    padding: 0;
    background:rgb(44, 43, 43);
}
.search{
    background: #000;
    display: flex;
align-items: center;
justify-content: space-evenly;
color: white;
flex-wrap: wrap;
}
.search input{
    width:400px;
    height: 30px;

    padding: 10px;
    font-size: 20px;
    border-radius: 10px;

}
.search button{
    width:100px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    background: #000;
    color: white;

    
}
.show{
    display:flex ;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    margin: 0 auto;
    text-align: center;
    width:800px;
    font-size: 20px;
    margin-top: 100px;
    background:rgb(44, 43, 43);
    border-radius: 20px;
    color: white;
    padding: 50px;

    
}
.show img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    transition: transform 2s;



}
.show img:hover{
    transform: scale(1.1);
}
.show .div1 li{
    list-style: none;
    text-align: center;
    margin: 10px;
    
}
.show .div1 li span{
    color: yellow ;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@media (max-width:460px) {
    .search{
        display: flex;
        flex-direction: column;
        overflow:auto;


    }
    .search input{
        width:300px;
    }
    .search button{
        margin: 20px;
        background: red;
        color: white;
        
    }
    .main{
        overflow:auto;
    }
    .show{
        display:block;
        position: relative;
        text-align: center;
        width: 100%;
        margin-right:30px;
        
        
    }
    .show img{
        position: relative;
        right:35px;;
    }
    .show .div2{
        position: relative;
        right: 30px;;
    }
    .show .div2 li .plot{
        text-align:justify;
        width:100%;
    }
    
   
    
}
.footer p{
    display: none;
    color: white;
    background: #000;
    font-size: 20px;
    display: none;
}


